extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='title')
      .content
        .byline
          .classy This talk is called:
        h1
          | The
          strong  Z
          |  dimension
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://codename.io') http://codename.io
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 This talk is about
          strong  browsers
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 Browsers
          strong  paint
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .unbrokenline
        .steps
          h2(data-bespoke-bullet) • Painter's algorithm
          h2(data-bespoke-bullet) • Back-to-front
          h2(data-bespoke-bullet) • Every element
            strong  independently
          h2(data-bespoke-bullet) • There is no
            strong  depth
            |  only
            strong  order
        .unbrokenline

    section(data-bespoke-state='code')
      .content.iframe-holster
        iframe(src='http://www.w3.org/TR/CSS21/zindex.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="d">D</div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex0.html')

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 Glen's
          strong  pro-tip #1
          |  for navigating the
          strong  Z
          |  dimension
        .byline
          .classy =
        h2
          strong box-shadow
          |  ftw!
        .unbrokenline

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre div:hover, span:hover { box-shadow: 0 0 40px 40px black; }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="d">D</div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex1.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre html { color: red; }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="d">D</div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex2.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre span { background-color: hsl(45,80%,80%); }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="d">
            .added
              pre <span>INLINE</span>
            pre
              |   </div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex3.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre .floated { float: left; }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
            .added
              pre <div class="floated">FLOATED</div>
            pre
              |   <div class="d"><span>INLINE</span></div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex4.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre .positioned { position: relative; z-index: 0; }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="floated">FLOATED</div>
            .added
              pre <div class="positioned">POSITIONED</div>
            pre
              |   <div class="d"><span>INLINE</span></div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex5.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre .negative { position: absolute; z-index: -1; top: 250px; right: 20px; }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="floated">FLOATED</div>
              |   <div class="positioned">POSITIONED</div>
              |   <div class="d"><span>INLINE</span></div>
            .added
              pre <div class="negative">NEGATIVE</div>
            pre
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex6.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre .positive { position: absolute; z-index: 1; top: 20px; right: 20px; }
          .pre.html
            .added
              pre <div class="positive">POSITIVE</div>
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="floated">FLOATED</div>
              |   <div class="positioned">POSITIONED</div>
              |   <div class="d"><span>INLINE</span></div>
              |   <div class="negative">NEGATIVE</div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex7.html')

    section(data-bespoke-state='')
      .content
        h2 Drawn back-to-front:
        .unbrokenline
        h2 • Positioned + negative z-index
        h2 • Block elements
        h2 • Floated elements
        h2 • Inline elements
        h2 • Positioned + z-index auto,0
        h2 • Positioned + z-index > 0
        .unbrokenline

    section(data-bespoke-state='css')
      .content
        h2 CSS

    section(data-bespoke-state='kramer')
      .content
        h2
          strong Stacking contexts

    section(data-bespoke-state='')
      .content
        h2 Stacking contexts:
        .unbrokenline
        h2.left • Encapsulates an element & its children
        h2.left • Seems to 'flatten' an element
        h2.left • Element & children drawn together
        .unbrokenline

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css
            pre .negative { position: absolute; z-index: -1; top: 250px; right: 20px; }
          .pre.html
            pre
              | <div class="positive">POSITIVE</div>
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="floated">FLOATED</div>
              |   <div class="positioned">POSITIONED</div>
              |   <div class="d"><span>INLINE</span></div>
              |   <div class="negative">NEGATIVE</div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex7.html')

    section(data-bespoke-state='code')
      .content.example.nofade
        .code
          .pre.css
            pre .negative { position: absolute; z-index: -1; top: 250px; right: 20px; }
            .added
              pre .a { position: relative; z-index: 0; }
          .pre.html
            pre <div class="positive">POSITIVE</div>
            strong
              pre <div class="a">
            pre
              |   A
              |   <div class="c">C</div>
              |   <div class="floated">FLOATED</div>
              |   <div class="positioned">POSITIONED</div>
              |   <div class="d"><span>INLINE</span></div>
            strong
              pre   <div class="negative">NEGATIVE</div>
            pre
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex8.html')

    section(data-bespoke-state='explode')
      .content

    section(data-bespoke-state='')
      .content
        h2 Stacking contexts:
        .unbrokenline
        h2 • Opacity < 1
        h2 • Position: fixed (Chrome & Mobiles)
        h2 • Position: !static && z-index: !auto
        h2 • -webkit-transform
        h2 • -webkit-filter
        h2 • CSS regions & pages
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Old option:
        h2
          strong  Learn
          |  the theory and
          strong  apply
          |  it.
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Now we can:
        h2
          strong  Measure
          |  the browser and
          strong  reason
          |  about it.
        .unbrokenline

    section(data-bespoke-state='code')
      .content
        .pre
          strong
            pre Google Chrome Canary:
          pre
            | --enable-threaded-compositing
            | --force-compositing-mode
            | --enable-impl-side-painting
            | --enable-skia-benchmarking
            | --allow-webui-compositing

    section(data-bespoke-state='kramer')
      .content
        .unbrokenline
        h2 Layers
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Layers:
        h2 • Drawn separately by the GPU
        h2 • Like a 'super' stacking context
        h2 • Big performance implications
        h2 • Up to the browser
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy What creates a layer?
        h2 • CSS animations (for opacity & transforms)
        h2 • 3D transforms & perspective
        h2 • Video, Canvas or Plugin w/ GPU acceleration
        h2 • CSS filters
        h2 • A stacking context drawn on top of another layer
        .unbrokenline

    section(data-bespoke-state='success')
      .content
        .unbrokenline
        h1
          strong Thank You!
        .unbrokenline

    section(data-bespoke-state='copter')
      .content
        .byline
          .classy I have been
        .me
        h3
          a(href='https://twitter.com/glenmaddern') @glenmaddern
        h3
          a(href='http://codename.io') team@codename.io
        .unbrokenline
