extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='japan')
      .content
        .byline
          .classy This talk is called:
        h1
          | The
          strong  Z
          |  dimension
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://codename.io') http://codename.io
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 This talk is about
          strong  browsers
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 Browsers
          strong  paint
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 • Painter's algorithm
        h2 • Back-to-front
        h2 • Every element
          strong  independently
        h2 • There is no
          strong  depth
          |  only
          strong  order
        .unbrokenline

    section(data-bespoke-state='code')
      .content
        h2 The Spec
        iframe(src='http://www.w3.org/TR/CSS21/zindex.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="d">D</div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex1.html')

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 Glen's
          strong  pro-tip #1
          |  for navigating the
          strong  Z
          |  dimension
        .byline
          .classy :
        h2
          strong box-shadow
          |  ftw!
        .unbrokenline

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre div:hover, span:hover { box-shadow: 0 0 40px 40px black; }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="d">D</div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex1.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre html { color: red; }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="d">D</div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex2.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre span { background-color: hsl(45,80%,80%); }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="d">
            .added
              pre <span>INLINE</span>
            pre
              |   </div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex3.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre .floated { padding: 10px; background-color: hsl(135,80%,80%); float: left; }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
            .added
              pre <div class="floated">FLOATED</div>
            pre
              |   <div class="d"><span>INLINE</span></div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex4.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre .positioned { background-color: hsl(225,80%,80%); position: relative; z-index: 0; }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="floated">FLOATED</div>
            .added
              pre <div class="positioned">POSITIONED</div>
            pre
              |   <div class="d"><span>INLINE</span></div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex5.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre .negative { position: absolute; z-index: -1; padding: 40px; top: 160px; right: 20px; background-color: hsl(315,80%,80%); }
          .pre.html
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="floated">FLOATED</div>
              |   <div class="positioned">POSITIONED</div>
              |   <div class="d"><span>INLINE</span></div>
            .added
              pre <div class="negative">NEGATIVE</div>
            pre
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex6.html')

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre .positive { position: absolute; z-index: 1; padding: 40px; top: 20px; right: 20px; background-color: blue; }
          .pre.html
            .added
              pre <div class="positive">POSITIVE</div>
            pre
              | <div class="a">
              |   A
              |   <div class="c">C</div>
              |   <div class="floated">FLOATED</div>
              |   <div class="positioned">POSITIONED</div>
              |   <div class="d"><span>INLINE</span></div>
              |   <div class="negative">NEGATIVE</div>
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex7.html')

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 Drawn back-to-front
        h2 • Positioned + negative z-index
        h2 • Block elements
        h2 • Floated elements
        h2 • Inline elements
        h2 • Positioned + z-index auto,0
        h2 • Positioned + z-index > 0
        .unbrokenline

    section(data-bespoke-state='css')
      .content
        h2 CSS

    section(data-bespoke-state='kramer')
      .content
        h2 Stacking contexts

    section(data-bespoke-state='code')
      .content.example
        .code
          .pre.css.added
            pre .a { position: relative; z-index: 0; }
          .pre.html
            pre <div class="positive">POSITIVE</div>
            strong
              pre <div class="a">
            pre
              |   A
              |   <div class="c">C</div>
              |   <div class="floated">FLOATED</div>
              |   <div class="positioned">POSITIONED</div>
              |   <div class="d"><span>INLINE</span></div>
            strong
              pre <div class="negative">NEGATIVE</div>
            pre
              | </div>
              | <div class="b">B</div>
        iframe(src='examples/ex8.html')

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 Stacking contexts
        h2 • Opacity < 1
        h2 • Position: fixed (Chrome & Mobiles)
        h2 • Position: !static && z-index: !auto
        h2 • -webkit-transform
        h2 • -webkit-filter
        h2 • CSS regions & pages
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 Browsers
          strong  paint
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .unbrokenline
        h2 Browsers
          strong  paint
        .unbrokenline

    section(data-bespoke-state='')
      .content(data-bespoke-bullet)
        .byline
          .classy What excites me?
        .steps
          .step(data-bespoke-bullet)
            h2 Designers
          .step(data-bespoke-bullet)
            .byline
              .classy +
            h2 Engineers
          .step(data-bespoke-bullet)
            .byline
              .classy working
            h2
              strong together
            .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy My Rule #1
        h2 the
          strong  closer
          |  designers + engineers work
        .unbrokenline
        h2 the
          strong  better
          |  they understand each other
        .unbrokenline
        h2 the
          strong  better
          |  the result
        .unbrokenline

    section(data-bespoke-state='')
      .content(data-bespoke-bullet)
        .byline
          .classy Grids
        .steps
          .step(data-bespoke-bullet)
            h2 affect
              strong  both
              |  design & build
            .unbrokenline
          .step(data-bespoke-bullet)
            h2 are usually chosen
              strong  early
            .unbrokenline
          .step(data-bespoke-bullet)
            h2 are
              strong  hard to change
              |  later
            .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Problem #1
        h2 There are
        h1
          strong  A LOT
        h2 of grid systems out there.
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Problem #2
        h2 There's a lot more to it
        .byline
          .classy than
        h2 breakpoints
        .byline
          .classy &
        h2 column & gutter widths
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Let us
        h2 explore how they differ
        .byline
          .classy and then
        h2 look at one I built
        .unbrokenline

    section(data-bespoke-state='code')
      .content
        table
          thead
            tr
              td Column width:
              td Fixed width columns
              td Multiple-width columns
              td Fluid columns
          tbody
            tr
              td
              td No matter what
              td A few distinct sizes
              td Adapt to your browser display

    section(data-bespoke-state='code')
      .content
        table
          thead
            tr
              td No. columns:
          tbody
            tr
              td Fixed # columns
              td No matter what
            tr
              td Semi-fixed # columns
              td Usually fixed + single column for mobile
            tr
              td Flexible # columns
              td Num columns depends on width

    section(data-bespoke-state='code')
      .content
        table
          thead
            tr
              td
              td Fixed width columns
              td Multiple-width columns
              td Fluid columns
          tbody
            tr
              td Fixed # columns
              td
                a(href="http://960.gs/demo.html", target="_blank") 960.gs
              td ?
              td
                a(href="http://purecss.io/grids/#grids-on-mobile", target="_blank") Pure.css
            tr
              td Semi-fixed # columns
              td
                a(href="http://www.getskeleton.com/", target="_blank") Skeleton
              td
                a(href="http://getbootstrap.com/2.3.2/scaffolding.html#gridSystem", target="_blank") Bootstrap 2.3
              td
                a(href="http://purecss.io/grids/#pure-responsive-grids", target="_blank") Pure Responsive
            tr
              td Flexible # columns
              td
                a(href="http://framelessgrid.com/", target="_blank") Frameless
              td
                a(href="http://getbootstrap.com/css/#grid", target="_blank") Bootstrap 3
              td
                a(href="http://goldengridsystem.com/", target="_blank") Golden Grid

    section(data-bespoke-state='')
      .content
        .byline
          .classy Alternate styles
        .steps(data-bespoke-bullet)
          h2(data-bespoke-bullet) • Class-based vs mixin-based
          h2(data-bespoke-bullet) • Floats vs inline-block
          h2(data-bespoke-bullet) • Spacers vs push/pulls
          h2(data-bespoke-bullet) • Markup vs modules
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy My example
        .steps(data-bespoke-bullet)
          h2(data-bespoke-bullet) • IE7+ support (no box-sizing)
          h2(data-bespoke-bullet) • Class-based (no fancy preprocessor tricks)
          h2(data-bespoke-bullet) • Floats & spacers
          h2(data-bespoke-bullet) • Markup-heavy
        .unbrokenline

    section(data-bespoke-state='')
      .content
        h2 DEMO

    section(data-bespoke-state='success')
      .content
        .unbrokenline
        h1
          strong Thank You!
        .unbrokenline

    section(data-bespoke-state='copter')
      .content
        .byline
          .classy I have been
        .me
        h3
          a(href='https://twitter.com/glenmaddern') @glenmaddern
        h3
          a(href='http://codename.io') team@codename.io
        .unbrokenline
